- name: Install docker
  hosts: all
  become: true

  vars:
    docker_pkg:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin

  tasks:
  - name: Task ping
    ping:

  - name: Apt update
    apt:
      upgrade: yes
      update_cache: yes
      cache_valid_time: 86400

  - name: Install certificate deps
    apt:
      pkg:
        - ca-certificates
        - curl
      state: present

  - name: Create keyrings directory
    file:
      path: /etc/apt/keyrings
      state: directory
      mode: '0755'

  - name: Download Docker GPG key
    get_url:
      url: https://download.docker.com/linux/ubuntu/gpg
      dest: /etc/apt/keyrings/docker.asc
      mode: '0644'

  - name: Create Docker APT sources file
    ansible.builtin.copy:
      dest: /etc/apt/sources.list.d/docker.sources
      content: |
        Types: deb
        URIs: https://download.docker.com/linux/ubuntu
        Suites: {{ ansible_distribution_release }}
        Components: stable
        Signed-By: /etc/apt/keyrings/docker.asc
      mode: '0644'

  - name: Update apt cache
    ansible.builtin.apt:
      update_cache: yes
      cache_valid_time: 1

  - name: Docker install
    apt:
      pkg: "{{docker_pkg}}"
      state: present

  - name: Docker setup
    ansible.builtin.service:
      name: docker
      enabled: true
      state: started
